# Whisper Modelle
modelle/

# Python Cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Kein API-Key versehentlich committen
.env

assistant_style.md
vocabulary.csv

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store
